
:root{
    --word-index: 3;
}
.About_img1{
    background-image: url('https://images.unsplash.com/photo-1542744173-8e7e53415bb0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100%;
}
@media screen and (max-width:800px) {
    .software-div{
        flex-direction: column;
        gap: 10px;
    }
    .software-div div{
        width: 100%;
    }
}
@media screen and (max-width:430px) {
    .software-div div {
        flex-direction: column;
        gap: 10px;
    }
    .software-div div img{
        width: 100%;
    }
}
@media screen and (max-width:1120px) {
    .About_container{
        width: 100%;
    }
}
