html {
  --cursor-color: #fff
}

html.dark-mode {
  --cursor-color: #fff
}

.no-scroll {
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
  overflow: -moz-scrollbars-none;
  /* For Firefox */
  -webkit-overflow-scrolling: touch;
  /* For iOS devices */
}

.no-scroll::-webkit-scrollbar {
  display: none;
  /* For Chrome, Safari, and Opera */
}
.scroll {
  scrollbar-width: 8px;
  /* For Firefox */
  -ms-overflow-style:scrollbar;
  /* For Internet Explorer and Edge */
  overflow:visible;
  /* For Firefox */
  -webkit-overflow-scrolling:auto;
  /* For iOS devices */
}

.scroll::-webkit-scrollbar {
  display: block;
  /* For Chrome, Safari, and Opera */
}

@media screen and (max-width:770px) {
  .no-scroll {
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
    overflow: -moz-scrollbars-none;
    /* For Firefox */
    -webkit-overflow-scrolling: touch;
    /* For iOS devices */
  }
  
  .no-scroll::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
  }
  .scroll {
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
    overflow: -moz-scrollbars-none;
    /* For Firefox */
    -webkit-overflow-scrolling: touch;
    /* For iOS devices */
  }
  
  .scroll::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
  } 
}